In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df06.csv", chunksize=100000):
    df1 = pd.concat([df1, chunk], ignore_index=True)
df1

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,r_242,n_244,r_244,n_245,r_245,n_175,r_175,n_232,r_232,label
0,0,20190601,MA2,NaN,NaN,100.0,2.0,100.0,44448.0,100.0,...,903862.0,NaN,NaN,NaN,NaN,100.0,1.125932e+12,99.0,0.0,0
1,100010,20190601,MA2,NaN,NaN,100.0,0.0,100.0,29234.0,100.0,...,4270456.0,NaN,NaN,NaN,NaN,100.0,7.479211e+11,100.0,0.0,0
2,100012,20190601,MA2,NaN,NaN,100.0,0.0,100.0,29234.0,100.0,...,4356134.0,NaN,NaN,NaN,NaN,100.0,7.479213e+11,100.0,0.0,0
3,10002,20190601,MA2,NaN,NaN,100.0,0.0,100.0,33647.0,100.0,...,9438950.0,NaN,NaN,NaN,NaN,100.0,8.590215e+11,100.0,0.0,0
4,100035,20190601,MA2,NaN,NaN,100.0,0.0,100.0,27130.0,100.0,...,3895308.0,NaN,NaN,NaN,NaN,100.0,6.958442e+11,100.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11267731,99953,20190630,MA2,NaN,NaN,100.0,0.0,100.0,36391.0,100.0,...,1107078.0,NaN,NaN,NaN,NaN,100.0,9.321725e+11,100.0,0.0,0
11267732,99953,20190630,MC1,100.0,0.0,100.0,1.0,100.0,16936.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11267733,99974,20190630,MC1,100.0,1.0,100.0,1.0,100.0,16960.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11267734,99975,20190630,MC1,100.0,0.0,100.0,0.0,100.0,16960.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11267735,99983,20190630,MA2,NaN,NaN,100.0,0.0,100.0,41046.0,100.0,...,8689696.0,NaN,NaN,NaN,NaN,100.0,1.043835e+12,100.0,0.0,0

In [3]:
df1.columns

Index(['disk_id', 'ds', 'model', 'n_1', 'r_1', 'n_5', 'r_5', 'n_9', 'r_9',
       'n_12', 'r_12', 'n_170', 'r_170', 'n_171', 'r_171', 'n_172', 'r_172',
       'n_173', 'r_173', 'n_174', 'r_174', 'n_177', 'r_177', 'n_180', 'r_180',
       'n_181', 'r_181', 'n_182', 'r_182', 'n_183', 'r_183', 'n_184', 'r_184',
       'n_187', 'r_187', 'n_188', 'r_188', 'n_190', 'r_190', 'n_192', 'r_192',
       'n_194', 'r_194', 'n_195', 'r_195', 'n_196', 'r_196', 'n_197', 'r_197',
       'n_198', 'r_198', 'n_199', 'r_199', 'n_206', 'r_206', 'n_211', 'r_211',
       'n_233', 'r_233', 'n_241', 'r_241', 'n_242', 'r_242', 'n_244', 'r_244',
       'n_245', 'r_245', 'n_175', 'r_175', 'n_232', 'r_232', 'label'],
      dtype='object')

In [4]:
model_list = ['MA1','MA2','MB1','MB2','MC1','MC2']
for model in model_list:
    df=df1[df1['model']==model].reset_index().copy()
    df.to_csv(f'../ssd_data/preprocessed_data/df_06_{model}.csv',index=False)